<html>
<head>
<title>Vivasayi.com</title>

<link rel="stylesheet" href="{{url_for('static', filename = 'css/loga.css')}}" />
<script type="text/javascript">
	

</script>
<style type="text/css">
	.section1{
background-color: gray;
padding: 15px;
border-radius: 10px;
margin-bottom: 10px;
width: 45%;
position: relative;
left: 5%;
}



</style>
</head>
<body class="main">


<div class="navbar">
<div class="section"><a href="pphome.html" >Home</a>
<a href="ppabtus.html" >About us</a>
<a href="ppjoinus.html" >Join Us</a>
<a href="/login" >Log in</a>
</div>
<div class="section" align="center">
<span class="txt" style="font-size: 25px;text-align: left;color: orange; position:relative;top:-10px;left: -475px; "  >loged in as: <span style="color: black">{{ row['first_name'] }}  {{ row['last_name']}}</span></span>
</div>

<div class="section" align="left">
djahs


f



f



f



f



f


f


<div class="section1" align="left">
hahahahahahahahahahaha


f


f


f


f


</div>

</div>

<div class="section">
<div id="con">Ph:+91-8825432440<br><br>
E-mail :dhanusree26@yahoo.com
 <div id="add" align="right"> Address :Arjun Parthasarathy,<br>
22/184,2<sup>nd</sup> Avenue,Anna nagar,<br>
Chennai-600040.
</div>
</div>
</div>
</body>


</html>