<html>
<head>
<title>Vivasayi.com</title>

<link rel="stylesheet" href="{{url_for('static', filename = 'css/loga.css')}}" />





</head>
<body class="main">


<div class="navbar">
<div class="section"><a href="pphome.html" >Home</a>
<a href="ppgal.html" >Gallery</a>
<a href="ppabtus.html" >About us</a>
<a href="ppjoinus.html" >Join Us</a>
</div>
<div class="section" align="center">

<div class="list">
<span class="txt" style="color: green">   Success !!You have been registered !!Click below to go to login page!! </span>  
<br><br>
</div>
<a href="/login" class="txt">LOGIN</a>


<div class="detailb" id="id1" style="display: none;">
<div class="detail zoom">
<div class="close" onclick="document.getElementById('id1').style.display='none';">&times;</div>
<form action="view.php" method="post">
<span class="txt">Enter your E-mail : </span><br><input type="email" name="em" placeholder="E-Mail" required="required"><br><br> 


	<input type="submit" value='View Details' id='aaa' class="sub"  style="width: 200px; " />

</form>

</div>
</div>

</div>


<div class="section">
<div id="con">Ph:+91-8825432440<br><br>
E-mail :dhanusree26@yahoo.com
 <div id="add" align="right"> Address :Arjun Parthasarathy,<br>
22/184,2<sup>nd</sup> Avenue,Anna nagar,<br>
Chennai-600040.
</div>
</div>
</div>
</body>


</html>